{{ form_start(form) }}

{{ form_row(form.title) }}
{{ form_row(form.description) }}
{{ form_row(form.timeLimit) }}
{{ form_row(form.showAnswers) }}

<div class="panel panel-default">
    <div class="panel-body">

        <h3>Вопросы</h3>
        <ol class="questions-list"
            data-prototype-variant="{{
                            form_widget(form.questions.vars.prototype.variants.vars.prototype)|e('html_attr')
                            }}"
            data-prototype-question="{{
                                form_widget(form.questions.vars.prototype)|e('html_attr')
                            }}">
            {% for question in form.questions %}
            <li class="question-item" data-serial-number="{{ loop.index0 }}">
                {{ form_row(question.question) }}
                {{ form_row(question.type) }}
                {{ form_row(question.price) }}
                {{ form_row(question.precision) }}
                {{ form_row(question.serialNumber) }}

                <div class="panel panel-default">
                    <div class="panel-body">

                        <h4>Варианты ответа</h4>

                        <ol class="variants-list">
                            {% for variant in question.variants %}
                            <li class="variant-item">
                                {{ form_row(variant.answer) }}
                                {{ form_row(variant.isCorrect) }}
                            </li>
                            {% endfor %}

                            <div class="clearfix">
                                <button class="btn btn-default pull-right add-variant-btn">
                                    + Добавить вариант
                                </button>
                            </div>
                        </ol>

                    </div>
                </div>

            </li>
            {% endfor %}

            <div class="clearfix">
                <button class="btn btn-default pull-right add-question-btn">
                    + Добавить вопрос
                </button>
            </div>
        </ol>

    </div>
</div>

<input type="submit" class="btn btn-default" value="Сохранить">
{% block publish_button %}{% endblock publish_button %}

{{ form_end(form) }}
